
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

span{
    text-transform: uppercase;
    color: red;
}
.usuarios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.follow{
    margin: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

}
.followers{

    background-color: red;
    width: 400px;
}

ul{
    margin: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

li{

    align-self: center;
    color: blue;
}

button{
    padding: .5rem;
    outline: 0;
    border: 0;
    border-radius: 100vmax;
    background-color: rgb(117, 120, 122);
    color: white;
    font-weight: 700;
    cursor: pointer;
}

button:hover{
    transform: scale(1.1);
    opacity: .8;
    color: black;
}