.start {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin: 5em;
}

#clock {
    position: relative;
    width: 378px;
    height: 378px;
    background-image: url('../img/clockFace.png');
    left: 50%;
    margin: 5em 0 0 -189px;
}

#clock div {
    position: absolute;
}

#second {
    animation: rotate 60s linear infinite; 
}
#minute{
    animation: rotate 3600s linear infinite; 
}
#hour{
    animation: rotate 43200s linear infinite; 
}

/* ANIMACIONES Y TRANSFORMACIONES */

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

