body {
    font-family: Comic Sans MS, sans-serif;
}

div#contenedor{
	width: 950px;
	margin: 0 auto;
	
}

h2{
	text-align: center;
	
}
div#animation {
    width: 950px;
    height: 500px;
    background: url("../img/background.png") no-repeat left top;
    position: absolute;
    box-shadow: 0 0 15px #000;

}

div#cloud {
    width: 200px;
    height: 75px;
    background-image: url("../img/cloud.png");
    background-repeat:  no-repeat;
	position: absolute;
	left: 350px;

}

div#rain {
    width: 200px;
    height: 400px;
    background-image: url("../img/rain-background.png");
    background-repeat: no-repeat;
    margin:65px 0 0 0;
	position: absolute;
}

div#sun {
    background: url("../img/sun.png") no-repeat top left;
    width: 70px;
    height: 70px;
    position: absolute;
    top:20px;
    left: 700px;
    animation: sun 5s ease-in-out;
}

div#flower {
    width: 90px;
    height: 130px;
    background-image: url("../img/flower.png");
    background-repeat:no-repeat;
    position: absolute;
	top: 370px;
	left: 430px;
}



/* Keyframes for entrance and exit animations */
@keyframes enterCloud {
    0% {
        left: 790px;
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    99%{
        opacity: 0.1;
    }
    100% {
        left: -100px;
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes sun {
    0% {
        opacity: 1;
    }
    10%{
        opacity: .25;
    }
    20% {
        opacity: .25;
    }
    99%{
        opacity: .25;
    }
    100% {
        opacity: 1;
    }
}

@keyframes rain {
    0% {
        top: 0;
        opacity: 0;
        display: hidden;
    }
    49%{
        opacity: 0;
        display: hidden;
    }
    50%{
        opacity: 1;
    }
    60%{
        opacity: 0;
    }
 
    100% {
        top: 200px;
        opacity: 0;
    }
}


@keyframes enterFlower {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

div#cloud {
    animation: enterCloud 20s linear  forwards;
}

div#sun {
    animation: sun 20s linear ;
}

div#rain {
    animation: rain 1s linear infinite ,pauseRain 15s forwards ;
    animation-delay: 5s;

}

div#flower {
    animation: enterFlower 25s ease-in;
}

div#cloud::after {

    display: hidden;
}

@keyframes pauseRain {
    0% {
        opacity: 1;
    }
    99%{
        opacity: 1;
    }
    100% {
        opacity: 0;
        animation-play-state: paused; /* Cambiamos a "running" al final de la animación */
    }
}
