
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  background-color: #ebd48a;
  height: calc(100vh - 156px);
}
.registro{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 4rem;
  width: 100%;
}
.registro form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-block: 2rem;
  width: 100%;
}

.registro form input {
  padding: .75rem;
  border-radius: 100vmax;
  outline: 0;
  text-align: center;
  width: 50%;
  margin: .5rem;
}

.registro form input[type="submit"]{
  background-color: #f4db03;
  font-weight: 600;
  width: 20%;
}

.registro form input[type="submit"]:hover{
  transform: scale(1.1);
  
  opacity: .8;
  border: 2px solid #000;
}

/* ==== Footer ==== */
/*
footer {
  background-color: #475640;
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  padding-inline: 2rem;
  padding-block: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
*/
footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 150px;
  background-color: #475640;
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  padding-inline: 2rem;
  padding-block: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}


footer h3 {
  font-size: 14px; /* Ajusta esta altura según tu diseño */
}

footer a {
  font-size: 12px;
}
.footer__logo img {
  width: 20%;
}
.footer__information {
  color: #000;
  font-size: 12px;
  font-weight: 600;
}
.footer__information:hover,
.footer__description:hover {
  color: #dcd473;
}

.footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footer__social i {
  font-size: 20px;
}

.footer__description {
  font-size: 13px;
  color: #000;
  font-weight: 600;
}

::-webkit-scrollbar {
  background-color: rgb(163, 159, 159);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(110, 110, 110);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #575555;
}
