@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  font-weight: 600;
}
a:hover {
  color: #dcd473;
}

/* HEADER */

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color:  rgba(218, 213, 213,0.7) ;
  backdrop-filter: blur(2px);
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a{
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn {
  color: #000;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn {
  background-color: #f4db03;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}

.action_btn:hover {
  scale: 1.05;
  color: #fff;
}

.action_btn:active {
  scale: 0.95;
}
/* DROPDOWN MENU */

.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown_menu.open {
  height: 240px;
}

.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* RESPONSIVE */
@media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
      display: none;
    }
  
    .navbar .toggle_btn {
      display: block;
    }
    .dropdown_menu {
      display: block;
    }
  }
  
  @media (max-width: 576px) {
    .dropdown_menu {
      left: 2rem;
      width: unset;
    }
  }

  main{
    padding-block: .5rem;
    background-color: #e6e1d4;
  }
.shop__header{
     width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    gap: 2rem;
    background-color: #d3cec1 ;
    padding: 1rem;
}
.shop__header input {
  padding: .5rem;
  outline: 0;
  border: 0;
  border-radius: 100vmax;
  text-align: center;

}
.shop__header input[type="submit"]{
  cursor: pointer;
  background-color: #dcd473;
  font-weight: 700;
}

.shop__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 5rem;
}
.shop{
    padding-block: 5rem;
    width: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.img__product img{
    max-width: 50%;

}

.product__list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: .5rem;
    padding-block: 2rem;
    padding-inline: 2rem;
}
.product__item{
  background-color: #d3cec1;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5rem;
  border-radius: 2rem;
}
.product__item:hover{
  transform: scale(1.02);
}
  
/* ==== Footer ==== */
footer{
    background-color: #475640;
    color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    padding-inline: 2rem;
    padding-block: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  footer h3{
    font-size: 14px;/* Ajusta esta altura según tu diseño */
  
  }
  
  footer a{
    font-size: 12px;
  }
  .footer__logo img{
    width: 20%;
  }
  .footer__information{
    color: #000;
    font-size: 12px;
    font-weight: 600;
  }
  .footer__information:hover,
  .footer__description:hover{
    color: #dcd473;
  }
  
  .footer__social{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 1rem;
  }
  
  .footer__social i{
    font-size: 20px;
  }
  
  .footer__description{
    font-size: 13px;
    color: #000;
    font-weight: 600;
  }
  
  
  ::-webkit-scrollbar {
    background-color: rgb(163, 159, 159);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgb(110, 110, 110);
    border-radius: 20px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #575555;
  }
  