<form method="post" action="{{ path('app_thread_delete', {'id': thread.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ thread.id) }}">
    <button class="btn">Delete</button>
</form>
