
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  font-size: 30px;
  font-weight: 400;
  background-color: gray;
}
main{
  width: 800px;
  margin: 0 auto;
  padding: 20px;
}
input,
button{
  border: 0;
  outline: 0;
  padding: .5rem;
  border-radius: 100vmax;
  text-align: center;
}
button{
  cursor: pointer;
}

li {
  background-color: burlywood;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  margin-top: 5px;
}