@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f0f0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #852020;
  font-weight: 700;
  font-size: 18px;
}
a:hover {
  color: #ff9000;
}
nav {
  background: transparent;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;

}
nav li {
  margin: 0 20px;
}
.search-container{
  position: relative;
  display: inline-block;
}
.search-container i {
  color: #333;
  font-size: 20px;
  cursor: pointer;
  transition: transform .3s;
}
.search-container i:hover{
  transform: scale(1.1);
}
/*
.search-input{
  display: none;
  border: 0;
  outline: 0;
  padding: .5rem;
  border-radius: 100vmax;
  text-align: center;
}
*/
.search-input{
  width: 0;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) ;
  transition: width .3s, opacity .3s;
  background-color: #fff;
  color: #333;
  border: none;
  padding: .5rem;
  border-radius: 100vmax;
  text-align: center;
}

.search-input:hover{
  width: 250px;
  opacity: 1;
}

main {
  width: 700px;
  margin: 0 auto;
  padding: 20px;
}

.task-list-section{
    max-width: 800px;
    margin: 0 auto;
    padding:20px;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 30px;
    transition: .5s linear;
}
.task-list-section:hover{
    box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.5);
    transform: scale(1.01);
}
.img-titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding-block: 1rem;
}
.img-lista {
  max-width: 40%;
  border-radius: 100vmax;
  box-shadow: 0 0 20px 2px rgba(17, 1, 1, 0.4);
}

.titulo{
    font-size: 30px;
    text-align: center;
    transition: font-size 1s ease;
}
.titulo:hover{
    font-size: 40px;
}

.form-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.message-error{
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: red;
}

#new-task-input{
    width: 80%;
    padding: .65rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.add-task-btn{
    width: 20%;
    padding: .65rem;
    background-color: #007bff;
    color: #fff;
    border-radius: 100vmax;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-size: 15px;
}
.add-task-btn:hover{
    transform: scale(1.1);
    opacity: .7;
}

.tasks-list-ul{
    padding: .5rem;
    
}

.tasks-list-ul li{
    background-color: #a59d9d;
    border-radius: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
    padding: .5rem;
    display: flex;
    align-items: center;
    text-align: center;
}
span{
  width: 70%;
}


.grafico-container{
  display: flex;
  width: 520px;
  height: 400px;
}

.edit-buton,
.delete-buton{
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: .25rem;
    cursor: pointer;
    font-size: 12px;
    margin-left: .5rem;
    cursor: pointer;
}
.edit-buton{
  background-color: #cfac0e;
}
.edit-buton:hover{
  background-color: #ad900e;
}
.delete-buton{
    background-color: #ff4545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: .25rem;
    cursor: pointer;
    font-size: 12px;
    margin-left: .5rem;
}

.delete-buton:hover{
    background-color: #852020;
}

.tasks-list-ul .completed{
    text-decoration: line-through ;
    color: #0ecf68;
}



/*
input,
button {
  padding: .5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}
input{
    width: 70%;
}
*/