{% extends 'base.html.twig' %}

{% block title %}New Game{% endblock %}

{% block body %}
    <h1>El ganador es !!!</h1>

    {% if game.winner == app.user %}
        Has ganado!
        {% else %}
     Has perdido, ganó la machine!
    {% endif %}
    
       <a href="{{ path('app_game_new') }}">Juega otra vez</a>
    <a href="{{ path('app_game_index') }}">back to list</a>
{% endblock %}
